body {
  margin: 0;
}

input[type="text"],
textarea {
  font-family: sans-serif;
  padding: 8px;
  outline: none;
  border: 1px solid gray;
  background: black;
  color: white;
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  width: 100%;
  background: white;
  height: 2px;
  position: relative;
  outline: none;
  margin: 8px 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid white;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  background: gray;
  cursor: pointer;
}

input[type="color"] {
  width: 100%;
  -webkit-appearance: none;
  height: 16px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
